@import '~@utils/mixins'

.scroll 
    position fixed
    z-index 10000
    transition top .7s linear
    cursor pointer
    right 5vw
    dont-display-mobile(960px)
.showStyle 
    top -30vh

.hiddenStyle 
    top -200vh
