@import '~@utils/mixins'


.layout-header 
    padding 0px
    height 60vh
    background url('~@assets/bg.jpg')
    background-size 100%
    background-repeat no-repeat
    position relative
    margin-bottom 5vh
    @media screen and (max-width 960px) 
        height 30vh
.header-menu 
    width 100%
    line-height 40px
    padding-left 10vw
    background rgba(122, 123, 126, 0.5)
    border 0
    color #fff
    @media screen and (max-width 960px)
        padding-left 0
    .menu-item 
        margin 0px 5px
        .menu-icon
            dont-display-mobile(960px)
.github-right 
    color #fff
    font-size 20px
    float right
    margin-right 20px
.ant-dropdown-menu-item-active 
    color #1890FF
    background rgba(160, 216, 243, 0.5)
.ant-dropdown-menu-item:hover 
    color #1890FF
    background rgba(160, 216, 243, 0.5)